@page
@model BalticBooks.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderQuantity" class="control-label"></label>
                <input asp-for="Order.OrderQuantity" class="form-control" />
                <span asp-validation-for="Order.OrderQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderPrice" class="control-label"></label>
                <input asp-for="Order.OrderPrice" class="form-control" />
                <span asp-validation-for="Order.OrderPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Discount" class="control-label"></label>
                <input asp-for="Order.Discount" class="form-control" />
                <span asp-validation-for="Order.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
