@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <br />
        <br />
        <br />
        <br />
        <h2> Welcome to Baltic Books Database!</h2>
        <br />
        <br />
        <br />

        <p>Note - Before adding orders please make sure you have the book, customer and supplier information added to the database fore none of the order line fields can be left empty. Thank you and have fun.</p>
    </div>
